.Base{
    position: relative;
    height: 66px;
    width: 326px;
    background: #191919;
    color:white;
    margin-bottom: 5px;
    margin-left:5px;
}
.Base:active{
    background-color: #00596B;
    box-shadow: 0 0 0 2px #ffffff;
}
.BaseSelected{
    background: #00D4FF;
    color: black;
}
.BaseDisabled{
    background-color :blue !important;
}

.IconBase{

}

.LeftIcon{
    float: left;
    margin-left: 11px;
    height: 84%;
    line-height: 62px;
}

.LeftIconSelected > path{
    fill:#000000;
}

.RightIcon{
    right: 1em;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}
.RightIconSelected > path{
    fill:#000000;
}

.RightIconDefault{
    composes:RightIcon;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #6B6B6B;
    border: 3px solid #fff;
    box-shadow: 0 0 0 5px #ffffff;
}
.RightIconDefaultSelected{
    background-color: #00D4FF;
    border: 3px solid #fff;
    box-shadow: 0 0 0 5px #FFFFFF;
    width: 18px;
    height: 18px;
}



.Text{
    position:relative;
    float: left;
    margin-left:11px;
    font-size: 26px;
    line-height: 62px;
}