.SideMenu{

}
.Left{
    left:0px;
    border-right: 1px solid #6b6b6b;
}
.Right{
    left: 500px;
    border-left: 1px solid #6b6b6b;
}

.Mask{
    position: absolute;
    top: 75px;
    left: 0px;
    background-color: rgba(64, 64, 64, 0.8);
    width: 1024px;
    height: 340px;
    z-index: 5;
}

.List{
    overflow: hidden;
    height: 338px;
    position: absolute;
    top: 77px;
    width: 300px;
    z-index: 10;
    background-color: #2a2a2a;
    padding-left:20px;
    padding-right:20px;
    color:#ffffff;
}