.Time{
    margin:0px 10px 0 10px;
    font-size:22px;
}
.Time:last-child{
    margin: 0 9px 0 0px;
}



.ProgressBar{
    /*flex:1;*/
    width:610px;
    margin-left: 3px;
}

.Section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 15px 15px 15px;
}
